@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Inter';
}

:root {
    --background-primary: "#131319";
    --background-secondary:"#27292D";
    --background-teriatry:"#191920";
    --text-primary: "#C5C7CA";
    --text-secondary: "#7F8084";
    --text-teriatry: "#FFF";
  }

